{% if team is defined and team %}
    <div>
        <h3><a href="{{ path('admin_add_edit_team_route', {id: team.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h3>
        <hr>
        <div class="row">
            <div class="col-4 text-right"><label>{{ 'team.name'|trans }}</label></div>
            <div class="">{{ team.name }}</div>
        </div>
        <div class="row">
            <div class="col-4 text-right"><label>{{ 'team.alias'|trans }}</label></div>
            <div class="">{{ team.trigram }}</div>
        </div>
        <div class="row">
            <div class="col-4 text-right"><label>{{ 'label.since'|trans }}</label></div>
            <div class="">{{ team.createdAt|date('d.m.Y') }}</div>
        </div>
        {% if team.description is defined and team.description %}
            <div class="row">
                <div class="col-12 mt-3">{{ team.description|nl2br }}</div>
            </div>
        {% endif %}
    </div>
{% endif %}
