{% if championship is defined and championship %}
    <div>
        <h3><a href="{{ path('admin_add_edit_championship_route', {id: championship.id}) }}#championship_info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h3>
        <hr>
        <div class="row">
            <div class="col-4 text-right"><label>{{ 'championship.name'|trans }}:</label></div>
            <div class="">{{ championship.name }}</div>
        </div>
        <div class="row">
            <div class="col-4 text-right"><label>{{ 'championship.cup'|trans }}:</label></div>
            <div class="">{% if championship.cup %}<i class="fa fa-check-square-o" aria-hidden="true"></i>{% else %}<i class="fa fa-square-o" aria-hidden="true"></i>{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-4 text-right"><label>{{ 'championship.highlighted'|trans }}:</label></div>
            <div class="">{% if championship.highlighted %}<i class="fa fa-check-square-o" aria-hidden="true"></i>{% else %}<i class="fa fa-square-o" aria-hidden="true"></i>{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-4 text-right"><label>{{ 'label.since'|trans }}:</label></div>
            <div class="">{{ championship.createdAt|date('d.m.Y') }}</div>
        </div>
    </div>
{% endif %}
