{% if stats is defined and stats %}
    <div class="stats mt-15">
        <div class="float-left mt-1 width-100">
            <div class="float-left">{{ 'label.goals'|trans }}</div>
            <div class="float-right font-bold">{{ stats.goal }}</div>
        </div>
        <div class="float-left mt-1 width-100">
            <div class="float-left">{{ 'label.goals'|trans }}(csc)</div>
            <div class="float-right font-bold">{{ stats.auto_goal }}</div>
        </div>
        <div class="float-left mt-1 width-100">
            <div class="float-left">{{ 'label.assists'|trans }}</div>
            <div class="float-right font-bold">{{ stats.assist }}</div>
        </div>
        <div class="div-2 mt-1 width-100">
            <div class="float-left">{{ 'label.yellows_cards'|trans }}</div>
            <div class="float-right font-bold">{{ stats.yellow }}</div>
        </div>
        <div class="float-left mt-1 width-100">
            <div class="float-left">{{ 'label.reds_cards'|trans }}</div>
            <div class="float-right font-bold">{{ stats.red }}</div>
        </div>
    </div>
{% endif %}