{% if records is defined and records|length > 0 %}
    <tbody>
        {% for record in records %}
            <tr>
                {% if checkAll is defined and checkAll %}
                    <td style="width: 1%">
                        <input type="checkbox" class="dt_check" value="{% if record.id is defined %}{{ record.id }}{% endif %}" name="dt_check[]">
                    </td>
                {% endif %}

                {% for key,field in record %}
                    {% if key != 'id' %}
                        <td class="type_{{ field.type }}{% if field.params.class is defined %} {{ field.params.class }}{% endif %}">
                            {% if field.type == 'link' %}
                                <a href="{% if field.router.route is defined %}{{ path(field.router.route, field.router.params) }}{% else %}#{% endif %}">
                                    {{ field.value }}
                                </a>
                            {% elseif field.type == 'text' %}
                                {{ field.value|raw }}
                            {% elseif field.type == 'date' and field.value %}
                                {{ field.value|date('d.m.Y') }}
                            {% elseif field.type == 'datetime' and field.value %}
                                {{ field.value|date('d.m.Y H:i') }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
{% endif %}